html,
body {
  background: radial-gradient(50% 50% at 50% 50%, #302E42 31.25%, #1F1D2B 100%);
  background: radial-gradient(50% 50% at 50% 50%, #3f3c5d 31.25%, #1F1D2B 100%);
  color: #ffffff;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
}

body {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.MuiPaper-root {
  background-color: red;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: local('MontserratRegular'), url('../fonts/Montserrat-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: normal;
  src: local('MontserratItalic'), url('../fonts/Montserrat-Italic.woff') format('woff');
  font-display: swap;
}


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: local('MontserratThin'), url('../fonts/Montserrat-Thin.woff') format('woff');
  font-display: swap;
}


@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  src: local('MontserratThinItalic'), url('../fonts/Montserrat-ThinItalic.woff') format('woff');
  font-display: swap;
}


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: local('MontserratExtraLight'), url('../fonts/Montserrat-ExtraLight.woff') format('woff');
  font-display: swap;
}


@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  src: local('MontserratExtraLightItalic'), url('../fonts/Montserrat-ExtraLightItalic.woff') format('woff');
  font-display: swap;
}


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('MontserratLight'), url('../fonts/Montserrat-Light.woff') format('woff');
  font-display: swap;
}


@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  src: local('MontserratLightItalic'), url('../fonts/Montserrat-LightItalic.woff') format('woff');
  font-display: swap;
}


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('MontserratMedium'), url('../fonts/Montserrat-Medium.woff') format('woff');
  font-display: swap;
}


@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: local('MontserratMediumItalic'), url('../fonts/Montserrat-MediumItalic.woff') format('woff');
  font-display: swap;
}


@font-face {
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
src: local('MontserratSemiBold'), url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-display: swap;
}


@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  src: local('MontserratSemiBoldItalic'), url('../fonts/Montserrat-SemiBoldItalic.woff') format('woff');
  font-display: swap;
}


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('MontserratBold'), url('../fonts/Montserrat-Bold.woff') format('woff');
  font-display: swap;
}


@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: local('MontserratBoldItalic'), url('../fonts/Montserrat-BoldItalic.woff') format('woff');
  font-display: swap;
}


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('MontserratExtraBold'), url('../fonts/Montserrat-ExtraBold.woff') format('woff');
  font-display: swap;
}


@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  src: local('MontserratExtraBoldItalic'), url('../fonts/Montserrat-ExtraBoldItalic.woff') format('woff');
  font-display: swap;
}


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local('MontserratBlack'), url('../fonts/Montserrat-Black.woff') format('woff');
  font-display: swap;
}


@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  src: local('MontserratBlackItalic'), url('../fonts/Montserrat-BlackItalic.woff') format('woff');
  font-display: swap;
}

input::-webkit-input-placeholder { 
  color: #B7B9D2;
  font-weight: 100;
}